@model Compelover.WEBUI.Areas.Member.ViewModels.PasswordChangeViewModel

@{
    Layout = "_MemberLayout";
}

<section id="passwordChange" class="py-5" style="background-color: #258c7f;">
    <div class="password-change-top text-center">
        <h4 class="text-white">Şifre Değiştirme</h4>
        <hr class="border-warning">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                <form method="post" asp-controller="Member" asp-action="PasswordChange">
                    <div class="form-group">
                        <i class="fas fa-anchor mr-2 fa-2x text-white"></i> <input type="password" asp-for="@Model.PasswordOld" class="password-reset-input" placeholder="Eski Şifreniz">
                        <span asp-validation-for="PasswordOld" class="badge badge-danger mt-2"></span>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="password" asp-for="@Model.PasswordNew" class="password-reset-input text-warning" placeholder="Yeni Şifreniz"><i class="fab fa-affiliatetheme ml-2 fa-2x text-white"></i>
                        <span asp-validation-for="PasswordNew" class="badge badge-danger"></span>
                    </div>
                    <br>
                    <div class="form-group">
                        <i class="fab fa-500px mr-2 text-white fa-2x"></i> <input type="password" asp-for="@Model.PasswordConfirm" id="newPassword" class="password-reset-input" placeholder="Yeni Şifre Tekrarı">
                        <span asp-validation-for="PasswordConfirm" class="badge badge-danger mt-2"></span>
                    </div>
                    <br>
                    <div class="change-password-button text-center">
                        <input type="submit" class="btn btn-outline-warning btn-block" value="Şifre'yi Değiştir" style="border-radius: 50px;">
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>