@model Compelover.WEBUI.ViewModels.ResetPasswordViewModel

@{
    
    Layout = "_OpeningLayout";
}
<section id="passwordResetPage">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="card">
                    <div class="card-body shadow">
                        <form method="post" asp-controller="Home" asp-action="PasswordReset">
                            <a asp-controller="Home" asp-action="Login" style="text-decoration: none;color: black;">
                                <i class="fas fa-chevron-left fa-2x"></i>
                            </a>
                            <br>
                            <h3 class="mt-3">
                                <strong>Şifre Yenileme</strong>
                            </h3>
                            <p style="font-family: 'Roboto', sans-serif;">
                                Şifre yenileme bağlantısını gönderebilmemiz için e-posta adresinize
                                <span class="bg-turquoise font-weight-bold text-white">
                                    ihtiyacımız var.
                                </span>
                            </p>
                            <br>
                            <div class="form-group text-center">
                                <input type="email" asp-for="@Model.Email" class="login-input text-center" placeholder="E-Mail Adresi">
                                <span asp-validation-for="Email" class="bg-pink text-white" style="font-family: 'Lekton', sans-serif;"></span>
                            </div>
                            <div class="reset-button text-center">
                                <input type="submit" class="reset-password-button" value="Sifre Yenile">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>